@using FinalProject.Middleware;

@{
	ViewData["Title"] = "Index";
	var permissions = Context.Items["Permissions"] as List<Permission>;
	var canViewEmployees = false;
	var canViewDepartments = false;
	var canViewPermissions = Context.Items["CanViewPermissions"] as bool?;
	var canViewVacation = Context.Items["CanViewVacationForAdmin"] as bool?;
	var canViewVacationforUser = Context.Items["CanViewVacationForUser"] as bool?;

	
	bool havePermissions = permissions == null ? false : true;
	if (havePermissions)
	{
		canViewEmployees =
			permissions.Any(p => p.Name == "Employee");
		canViewDepartments =
			permissions.Any(p => p.Name == "Department");
		
	}
	}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HRMS</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="~/css/line-awesome.min.css">

	<!-- Chart CSS -->
	<link rel="stylesheet" href="~/plugins/morris/morris.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	@await RenderSectionAsync("Head", required: false)
	<script>
		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				title: {
					text: "Ice Cream Sales Over a Month"
				},
				axisX: {
					valueFormatString: "DD MMM"
				},
				axisY: {
					title: "Sales (in USD)",
					prefix: "$"
				},
				data: [{
					type: "spline",
					xValueType: "dateTime",
					xValueFormatString: "DD MMM",
					yValueFormatString: "$#,###",
					dataPoints: @Html.Raw(Model)
					}]
			});
			chart.render();

		}
	</script>
	<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>


</head>

<body>
	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">

			<!-- Logo -->
			<div class="header-left">
				<a asp-action="Index" asp-controller="Home" class="logo">
					<img src="~/img/logo.png" width="40" height="40" alt="">
				</a>
			</div>
			<!-- /Logo -->

			<a id="toggle_btn" href="javascript:void(0);">
				<span class="bar-icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</a>

			<!-- Header Title -->
			<div class="page-title-box">
				<h3>HR System</h3>
			</div>
			<!-- /Header Title -->

			<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

			<!-- Header Menu -->
			<ul class="nav user-menu">
				@if (User.Identity.IsAuthenticated)
				{
					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
								<img src="assets\img\profiles\avatar-21.jpg" alt="">
								<span class="status online"></span>
							</span>
							@{
								var loggedInUser = Context.Request.Cookies["LoggedInUser"];
							}
							<span>Welcome, @loggedInUser</span>


						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" asp-controller="Profile" asp-action="Index">My Profile</a>
							<a class="dropdown-item" href="settings.html">Settings</a>
							<a class="dropdown-item"  asp-controller="Account" asp-action="Logout">Logout</a>
						</div>
					</li>
				}
				else
				{
					<li>
						<a href="/Account/Login" class="btn btn-primary">Login</a>
					</li>
				}
				
			</ul>
			<!-- /Header Menu -->
			<!-- Mobile Menu -->
			<div class="dropdown mobile-user-menu">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" asp-controller="Profile" asp-action="Index">My Profile</a>
					<a class="dropdown-item" href="settings.html">Settings</a>
					<a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
				</div>
			</div>
			<!-- /Mobile Menu -->

		</div>
		<!-- /Header -->
		<!-- Sidebar -->
		<div class="sidebar" id="sidebar" @(havePermissions ? "" :"hidden")>
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title" >
							<span>Main</span>
						</li>
						<li class="submenu">
							<a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a class="active" href="index.html">Admin Dashboard</a></li>
								<li><a href="employee-dashboard.html">Employee Dashboard</a></li>
							</ul>
						</li>
						<li class="menu-title" >
							<span>Employees</span>
						</li>
						<li class="submenu">
							<a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="employees.html">All Employees</a></li>
								<li><a href="holidays.html">Holidays</a></li>
								@*<li><a href="attendance.html">Attendance (Admin)</a></li>*@
								<li><a asp-controller="Attendances" asp-action="Index">Attendance (Admin)</a></li>
								<li><a href="attendance-employee.html">Attendance (Employee)</a></li>
								<li><a href="departments.html">Departments</a></li>
								<li><a href="overtime.html">Overtime</a></li>
							</ul>
						</li>
						<li class="menu-title">
							<span>HR</span>
						</li>
						<li class="submenu">
							<a href="#"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="salary.html"> Employee Salary </a></li>
								<li><a href="salary-view.html"> Payslip </a></li>
								<li><a href="payroll-items.html"> Payroll Items </a></li>
							</ul>
						</li>
						<li>
						<li @(canViewEmployees ? "" : "hidden")><a asp-controller="Employee" asp-action="Index"><i class="la la-external-link-square"></i> <span>Employees</span></a></li>
						<li @(canViewDepartments ? "" : "hidden")><a asp-controller="Department" asp-action="Index"><i class="la la-external-link-square"></i> <span>Departments</span></a></li>

							@if (canViewPermissions != null)
							{
								<li><a asp-controller="Permission" asp-action="Index"><i class="la la-external-link-square"></i> <span>Permissions</span></a></li>
							}
							@if (canViewVacation != null)
							{
							<li><a asp-controller="Vacation" asp-action="Index"><i class="la la-external-link-square"></i> <span>Vacation(Admin)</span></a></li>

							}
							@if (canViewVacationforUser != null)
							{
							<li><a asp-controller="Vacation" asp-action="MyVacations"><i class="la la-external-link-square"></i> <span>Vacation(User)</span></a></li>

							}


							
						<li><a asp-controller="AppRole" asp-action="Index"><i class="la la-external-link-square"></i> <span>Roles</span></a></li>
						<li><a asp-controller="OfficialVacation" asp-action="Index"><i class="la la-external-link-square"></i> <span>Official Vacations</span></a></li>
						<li class="menu-title">
							<span>Pages</span>
						</li>
						<li class="submenu">
							<a href="#"><i class="la la-user"></i> <span> Profile </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="profile.html"> Employee Profile </a></li>
								<li><a href="client-profile.html"> Client Profile </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="la la-key"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="login.html"> Login </a></li>
								<li><a href="register.html"> Register </a></li>
								<li><a href="forgot-password.html"> Forgot Password </a></li>
								<li><a href="otp.html"> OTP </a></li>
								<li><a href="lock-screen.html"> Lock Screen </a></li>
							</ul>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->
		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<!-- Page Content -->
			<div class="content container-fluid">

				<!-- Page Header -->

				@RenderBody()
			</div>
			<!-- /Page Content -->

		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/jquery-3.2.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="~/js/jquery.slimscroll.min.js"></script>


	<!-- Custom JS -->
	<script src="~/js/app.js" ></script>
	@await RenderSectionAsync("Scripts", required: false)




</body>
</html>

