@model EmployeeDashboardVM
@using FinalProject.RepoServices
@inject IWeeklyHolidayRepository WeeklyRepo;
@{
	var weeklyVacations = WeeklyRepo.GetAllHolidays().Select(w => w.Holiday);
}
<div class="page-header">
	<div class="page-title">
		<h4>Welcome, @Model.Employee.FirstName @Model.Employee.LastName</h4>
		<h6>@DateTime.Now.ToString("dd MMMM yyyy")</h6>
	</div>
	<div class="page-btn p-3">
		<div class="row gap-2">
			<a asp-action="EmployeeReport" asp-controller="Attendances" class="btn btn-added p-2  col">
                <i class="fa-solid fa-clipboard-user fa-2xl  px-2" style="color: #ffffff;"></i>
                Attendances
            </a>
			<a asp-action="MyVacations" asp-controller="Vacation" class="btn btn-added p-2 col">
				<i class="fa-solid fa-umbrella-beach fa-2xl px-2" style="color: #ffffff;"></i>
				Vacations
            </a>
		</div>
	</div>

	</div>
<div class="content container-fluid">

	<div class="row">
		<div class="col-lg-8 col-md-8 row ">
			<div class="col-lg-4 col-sm-6 col-12 d-flex">
				<div class="dash-count">
					<div class="dash-counts">
						<h4>Today</h4>
						@if (Model.IsTodayOfficialVacation)
						{
							<span class="card-title"> is a national holiday</span>
						}
						else
						{
							@if (weeklyVacations.Any(w => w == DateTime.Today.DayOfWeek.ToString()))
							{
								<span class="card-title"> is @DateTime.Today.DayOfWeek</span>
							}
							else if (!Model.IsTodayWork)
							{
								<span class="card-title"> is your vacation</span>
							}
							else
							{
								<span class="card-title"> is a normal work day</span>
							}
						}
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-12 d-flex">
				<div class="dash-count das3">
					<div class="dash-counts">
						<h4>Tommorow</h4>
						<h5>
							@if (Model.IsTommorowOfficialVacation)
							{
								<span class="card-title"> will be a national holiday</span>
							}
							else
							{
								@if (weeklyVacations.Any(w => w == DateTime.Today.AddDays(1).DayOfWeek.ToString()))
								{
									<span class="card-title"> is @DateTime.Today.AddDays(1).DayOfWeek</span>
								}
								else if (!Model.IsTommorowWork)
								{
									<span class="card-title"> will be your vacation</span>
								}
								else
								{
									<span class="card-title"> will be a normal work day</span>
								}
							}
						</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-12 d-flex">
				<div class="dash-count das2">
					<div class="dash-counts">
						<h4>Yesterday</h4>
						<h5>
							@if (Model.IsYesterdayOfficialVacation)
							{
								<span class="card-title"> was a national holiday</span>
							}
							else
							{
								@if (weeklyVacations.Any(w => w == DateTime.Today.DayOfWeek.ToString()))
								{
									<span class="card-title"> was @DateTime.Today.DayOfWeek</span>
								}
								else if (!Model.IsYesterdayWork)
								{
									<span class="card-title"> was your vacation</span>
								}
								else
								{
									<span class="card-title"> was a normal work day</span>
								}
							}
						</h5>
					</div>
				</div>
			</div>

			<section class="card" id="vacations-print">
				<div class="card-header">
					<div class="row align-items-center">
                        <h4 class="card-title col-10">Vacations</h4>
						<button class="btn col-2" type="submit" onclick="printContent('vacations-print')"><i class="fa fa-print"></i></button>
                    </div>
                </div>

				<div class="card-body">
					<p class="print-off text-center">Available Vacations Days @Model.Employee.AvailableVacations</p>
					<div class="card-body">
						@Html.Partial("_VacationsTable",Model.Vacations)
					</div>
					<div class="card-footer print-off">
						<a asp-action="MyVacations" asp-controller="Vacation">See More</a>
					</div>
				</div>
			</section>
			<section class="card">
					<div class="card-body">
						@Html.Partial("_RequstVacationForm",new Vacation(){EmployeeId = Model.Employee.Id})
					</div>

			</section>
			@Html.Partial("_AttendanceChart",Model)

		</div>
		<div  class="col-lg-4 col-md-4">
			<div  class="dash-sidebar">
				<section>
					<div id="attendance-print">
						<div class="row align-items-center">
							<h1 class="print-on">@Model.Employee.FirstName @Model.Employee.LastName</h1>

							<h5 class=" col-10">
								Attendance Summary</h5>
							<button class="btn col-2" type="submit" onclick="printContent('attendance-print')"><i class="fa fa-print"></i></button>
						</div>
						<div class="card">
                            <h5 class="card-header">@DateTime.Now.ToString("MMMM")</h5>
                            <div class="card-body">
								<div class="row text-center  align-items-center align-content-between">
                                    <div class="col-6">
                                        <h2 >@Model.ThisMonthWorkDays</h2>
										<h6 class="text-warning"><strong>Work Days</strong></h6>
                                    </div>
									<div class="col-6">
										<h2 >@Model.ThisMonthAttendanceCount <span class="text-warning">/</span> @Model.ThisMonthWorkDaysUntilToday</h2>
										<h6 class="text-warning"><strong>Attendance</strong> </h6>
                                    </div>
                                </div>
								<hr />
								<div class="row text-center align-items-center align-content-between">
									<div class="col-6">
										<h2 >@Model.ThisMonthExtraHours</h2>
										<h6 class="text-warning"><strong>Extra Hours</strong></h6>
									</div>
									<div class="col-6">
										<h2 >@Model.ThisMonthDiscountHours</h2>
										<h6 class="text-warning"><strong>Discount Hours</strong></h6>
									</div>
								</div>
                            </div>
                        </div>

						<div class="card">
							<h5 class="card-header">Last Month <strong>@DateTime.Now.AddMonths(-1).ToString("MMMM")</strong> </h5>
							<div class="card-body">
								<div class="row text-center  align-items-center align-content-between">
									<div class="col-6">
										<h2>@Model.LastMonthWorkDays</h2>
										<h6 class="text-warning"><strong>Work Days</strong></h6>
									</div>
									<div class="col-6">
										<h2>@Model.LastMonthAttendanceCount <span class="text-warning">/</span> @Model.LastMonthWorkDays</h2>
										<h6 class="text-warning"><strong>Attendance</strong> </h6>
									</div>
								</div>
								<hr />
								<div class="row text-center align-items-center align-content-between">
									<div class="col-6">
										<h2>@Model.LastMonthExtraHours</h2>
										<h6 class="text-warning"><strong>Extra Hours</strong></h6>
									</div>
									<div class="col-6">
										<h2>@Model.LastMonthExtraHours</h2>
										<h6 class="text-warning"><strong>Discount Hours</strong></h6>
									</div>
								</div>
							</div>

                        </div>
					</div>

				</section>
			</div>
		</div>


	</div>

</div>

