@model FinalProject.Models.OfficialVacation

<div class="container">
    <h1>Delete Official Vacation</h1>

    <p>Are you sure you want to delete this official vacation?</p>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
@*                 <th>User</th>
 *@            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Title</td>
                <td>@Model.Date</td>
@*                 <td>@Model.User.UserName</td>
 *@            </tr>
        </tbody>
    </table>

    <form action="@Url.Action("Delete", new { id = Model.Id })" method="post">
        @Html.AntiForgeryToken()

        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
