@model IEnumerable<FinalProject.Models.OfficialVacation>
@using FinalProject.Utilities

@{
    ViewData["Title"] = "Index";
}
@{
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowOfficialVacation = permissions.HasPermission("OfficialVacation", Operation.Show); ;
    var canAddOfficialVacation = permissions.HasPermission("OfficialVacation", Operation.Add); ; ;
    var canUpdateOfficialVacation = permissions.HasPermission("OfficialVacation", Operation.Update); ; ;
    var canDeleteOfficialVacation = permissions.HasPermission("OfficialVacation", Operation.Delete); ; ;
 
}


<h1>Official Vacations </h1>

<p @(canAddOfficialVacation )>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td @(canUpdateOfficialVacation )>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |</td>
                <td @(canShowOfficialVacation)> <a asp-action="Details" asp-route-id="@item.Id">Details</a> </td>
                <td  @(canDeleteOfficialVacation )>  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
               
            </tr>
        }
    </tbody>
</table>


