@using FinalProject.RepoServices;
@model IEnumerable<FinalProject.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employee.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.ContractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.NationalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.Department)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.ContractDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.NationalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Department.Name)
            </td>
                
            <td>

                
                    @{
                        if (item.isUserAdded)
                        {

                        }
                        else
                        {
                            <a asp-route-id="@item.employee.Id" asp-action="AddUser" asp-controller="Account">Add Users</a>

                        }
                    }
                    
                    <a asp-action="Edit" asp-route-id="@item.employee.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.employee.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.employee.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
