@model IEnumerable<FinalProject.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowEmployees = false;
    var canAddEmployees = false;
    var canUpdateEmployees = false;
    var canDeleteEmployees = false;
    var canAddUsers = false;
    bool havePermissions = permissions == null ? false : true;
    if (havePermissions)
    {
        canShowEmployees = permissions.Any(p => p.Name == "Employee" && p.Operation == Operation.Show);
        canAddEmployees = permissions.Any(p => p.Name == "Employee" && p.Operation == Operation.Add);
        canUpdateEmployees = permissions.Any(p => p.Name == "Employee" && p.Operation == Operation.Update);
        canDeleteEmployees = permissions.Any(p => p.Name == "Employee" && p.Operation == Operation.Delete);
        canAddUsers = permissions.Any(p => p.Name == "AppUser" && p.Operation == Operation.Add);
    }
}

<h1>Index</h1>

<p @(canAddEmployees ? "" : "hidden")>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <i class="fa fa-user"></i> Full Name
            </th>     
            <th>
                <i class="fa fa-envelope"></i> Email
            </th>
            <th>
                <i class="fa fa-money"></i> Salary
            </th>
            <th>
                <i class="fa fa-briefcase"></i> Department
            </th>
            <th>
                <i class="fa fa-flag"></i> Country
            </th>
            <th>
                <i class="fa fa-venus-mars"></i> Gender
            </th>
            <th>
                <i class="fa fa-calendar"></i> Birth Date
            </th>
            <th>
                <i class="fa fa-calendar"></i> Contract Date
            </th>
            <th @(canAddUsers ? "" : "hidden")>
                <i class="fa fa-user-plus"></i> Add User
            </th>
            <th @(canUpdateEmployees ? "" : "hidden")>
                <i class="fa fa-pencil"></i> Update
            </th>
            <th @(canShowEmployees ? "" : "hidden")>
                <i class="fa fa-eye"></i> Details
            </th>
            <th @(canDeleteEmployees ? "" : "hidden")>
                <i class="fa fa-trash"></i> Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee.FirstName) @Html.DisplayFor(modelItem => item.employee.LastName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.Department.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.ContractDate)
            </td>
            
                <td>
                    @if (!item.isUserAdded)
                    {
                        <a asp-route-id="@item.employee.Id" asp-action="AddUser" asp-controller="Account">Add User</a>
                    }
                    else{
                        <span>Already A User</span>
                        
                        }
                    </td>
                <td @(canUpdateEmployees ? "" : "hidden")>
                    <a asp-action="Edit" asp-route-id="@item.employee.Id" class="btn btn-outline-secondary">Edit</a>
                </td>
                <td @(canShowEmployees ? "" : "hidden")>
                    <a asp-action="Details" asp-route-id="@item.employee.Id" class="btn btn-outline-info">Details</a>
                </td>
                <td @(canDeleteEmployees ? "" : "hidden")>
                    <a asp-action="Delete" asp-route-id="@item.employee.Id" class="btn btn-outline-danger">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
