@model IEnumerable<FinalProject.ViewModels.EmployeeViewModel>
@using FinalProject.Utilities
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common;

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">


@{
    ViewData["Title"] = "Index";
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowEmployees = permissions.HasPermission("Employee", Operation.Show);
    var canAddEmployees = permissions.HasPermission("Employee", Operation.Add);
    var canUpdateEmployees = permissions.HasPermission("Employee", Operation.Update);
    var canDeleteEmployees = permissions.HasPermission("Employee", Operation.Delete);
    var canAddUsers = permissions.HasPermission("AppUser", Operation.Add);
}

<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Employee List</h4>
        </div>
        <div class="page-btn">
            <a asp-action="Create" class="btn btn-added"><img src="assets/img/icons/plus.svg" alt="img" class="me-1">Add New Employee</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
       
            <div id="my-table-div">
                <table  id="mytable" class=" table hover row-border compact stripe order-column" style="width:100%">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Salary </th>
                        <th>Department</th>
                        <th>Country</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Add User</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="productimgname">
                                @Html.DisplayFor(modelItem => item.employee.FirstName) @Html.DisplayFor(modelItem => item.employee.LastName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employee.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employee.Salary)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employee.Department.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employee.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employee.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employee.Age)
                            </td>

                            <td class="print-off">
                                @if (!item.isUserAdded)
                                {
                                    <a asp-route-id="@item.employee.Id" asp-action="AddUser" asp-controller="Account"><i class="fa fa-user-plus"></i></a>
                                }
                                else
                                {
                                    <i class="fa fa-check"></i>

                                }
                            </td>

                            <td class="print-off">
                                <div class="action-links">
                                    <span @(canUpdateEmployees)>
                                        <a asp-action="Edit" class="me-3" asp-route-id="@item.employee.Id">
                                            <img src="assets/img/icons/edit.svg" alt="Edit">
                                        </a>
                                    </span>
                                    <span @(canShowEmployees)>
                                        <a asp-action="Details" class="me-3" asp-route-id="@item.employee.Id">
                                            <img src="assets/img/icons/eye.svg" alt="Details">
                                        </a>
                                    </span>
                                    <span @(canDeleteEmployees)>
                                        <a asp-action="Delete" class="me-3" asp-route-id="@item.employee.Id" class="confirm-text">
                                            <img src="assets/img/icons/delete.svg" alt="Delete">
                                        </a>
                                    </span>
                                </div>
                            </td>



                        </tr>

                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>

</div>





<!-- DataTables JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

@*<!-- DataTables Buttons JavaScript -->
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<!-- pdfmake library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
*@
<script>
    $(document).ready(function () {
        $('#mytable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                {
                    extend: 'pdfHtml5',
                    text: 'PDF',

                    customize: function (doc) {

                    }
                }
            ]
        });
    });

</script>
