
@using FinalProject.Utilities;
@model IEnumerable<FinalProject.ViewModels.SalaryViewModel>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowSalary = permissions.HasPermission("Salary", Operation.Show);
    SelectList empList = new SelectList(ViewBag.Employees, "Id", "FirstName");
    int? Years = default;
    int? EmpId = default;
    if (ViewBag.SearchedYear != null)
    {
        Years = (int?)ViewBag.SearchedYear;
    }
    if (ViewBag.EmpId != null)
    {
        EmpId = (int?)ViewBag.EmpId;
    }

}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

@if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
{
    <div class="alert alert-warning">
        @ViewBag.AlertMessage
    </div>
}
<style>
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        background: #ff9f43; /* Change to the desired background color */
        color: #fff;
        border: 1px solid #ff9f43;
    }

    button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled), input.dt-button:hover:not(.disabled) {
        background: #1B2850
    }

</style>
<div class="content">
    <div class="page-header" style="margin-bottom:0px">
        <div class="page-title">
            <h4 style="margin-bottom:10px"> Yearly Salary list</h4>
            <div class="page-btn">
                <form action="/Salary/YearlyReportSalary" method="post">
                    <div class="row">
                        <div class=" col-md-6" @(canShowSalary)>
                            <div class="form-group">
                                @if (EmpId != null)
                                {
                                    <select name="empId" asp-for="@EmpId" class="form-control">
                                        <option value="" selected disabled hidden>Choose Employee</option>
                                        @foreach (var item in ViewBag.Employees)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select name="empId" class="form-control">
                                        <option value="" selected disabled hidden>Choose Employee</option>
                                        @foreach (var item in ViewBag.Employees)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                        
                        <div class="col-6  col-md-6 w-75">
                            <div class="form-group">
                                @if (Years != null)
                                {
                                    <select name="year" asp-for="@Years" id="year" class="form-control" required>
                                        <option value="" selected disabled hidden>Choose Year</option>
                                        @foreach (var item in ViewBag.Year)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select name="year" id="year" class="form-control" required>
                                        <option value="" selected disabled hidden>Choose Year</option>
                                        @foreach (var item in ViewBag.Year)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <button class=" form-group  btn btn-added" type="submit">
                                    <img src="~/assets/img/icons/search.svg" />  Search
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>

    </div>
    <style>

    </style>
    <div class="card">
        <div class="card-body">

            <div id="my-table-div" class="table-container">
                <table id="mytable" class=" table hover row-border compact stripe order-column" style="width:100%">
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>Full Nmae</th>
                            <th>Salary</th>
                            <th>Total Salary Salary</th>
                            <th>Discount Hours</th>
                            <th>Disccount Hours Price</th>
                            <th>Extra Hours</th>
                            <th>Extra Hours price</th>
                            <th> Attendence Days</th>
                            <th> Absence Days</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Salary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalSalary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiscountHours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DisccountHoursPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExtraHours)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExtraHoursPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfAttandanceDays)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfAbsanceDays)
                                </td>



                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

@*<!-- DataTables Buttons JavaScript -->
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<!-- pdfmake library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
*@
<script>
    $(document).ready(function () {
        $('#mytable').DataTable({
            "scrollX": true, // Adjust the height as needed
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'print',
                {
                    extend: 'pdfHtml5',
                    text: 'PDF',

                    customize: function (doc) {

                    }
                }
            ]
        });
    });

</script>
