@model IEnumerable<Vacation>

@{
    ViewData["Title"] = "Index";
}

<h1>My Vacations Requests</h1>

<h4>Available Vacations: @ViewBag.AvailableVacations</h4>

@if (ViewBag.AvailableVacations > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Number of Days</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vacation in Model)
            {
                <tr>
                    <td>@vacation.Employee.FirstName</td>
                    <td>@vacation.StartDate</td>
                    <td>@vacation.EndDate</td>
                    <td>@vacation.Status</td>

                    <td>
                        @vacation.VacationDays
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Vacation", new { id = vacation.EmployeeId })" class="btn btn-primary">Details</a>
                        <a href="@Url.Action("Edit", "Vacation", new { id = vacation.EmployeeId })" class="btn btn-success">Edit</a>
                        <a href="@Url.Action("Delete", "Vacation", new { id = vacation.EmployeeId })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You do not have any available vacations.</p>
}
