@model FinalProject.Models.Attendance

@{
    ViewData["Title"] = "Attendance";
}


<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4> Delete Attendance</h4>
            <h3>Are you sure you want to delete this?</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <div class="card-body">

                    <div class="productdetails">
                        <ul class="product-bar">
                            <li>
                                <h4>Full Name</h4>
                                <h6>
                                    @Html.DisplayFor(model => model.Employee.FirstName)
                                    @Html.DisplayFor(model => model.Employee.LastName)
                                </h6>
                            </li>
                            <li>
                                <h4>
                                    Date
                                </h4>
                                <h6>@Model.Date.ToString("dd MMM yyy")</h6>
                            </li>
                            <li>
                                <h4>@Html.DisplayNameFor(model => model.ArrivalTime)</h4>
                                <h6>@Html.DisplayFor(model => model.ArrivalTime)	</h6>
                            </li>
                            <li>
                                <h4>
                                    @Html.DisplayNameFor(model => model.DepartureTime)

                                </h4>
                                <h6>@Html.DisplayFor(model => model.DepartureTime)</h6>
                            </li>

                            <li>
                                <h4>
                                    Extra Hours
                                </h4>
                                <h6>@Html.DisplayFor(model => model.ExtraHours)</h6>
                            </li>
                            <li>
                                <h4>
                                    Discount Hours
                                </h4>
                                <h6>@Html.DisplayFor(model => model.DiscountHours)</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
        

            <form asp-action="Delete">
                <input type="hidden" asp-for="Date" />
                <input type="hidden" asp-for="EmployeeId" />

                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn " style="color: #fff;
    background-color: #637381;
    border-color: #637381">Cancel</a>
            </form>
        </div>
    </div>
</div>
