@model FinalProject.Models.Attendance
@using FinalProject.Utilities;
@{
    ViewData["Title"] = "Details";
}
@{
    var permissions = Context.Items["Permissions"] as List<Permission>;

    var canUpdateAttendence = permissions.HasPermission("Attendance", Operation.Update);
   
}

    <div class="page-header">
        <div class="page-title">
            <h4>Attendance  Details</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <div class="card-body">

                    <div class="productdetails">
                        <ul class="product-bar">
                        <li>
                            <h4>Full Name</h4>
                            <h6>
                                @Html.DisplayFor(model => model.Employee.FirstName)
                                @Html.DisplayFor(model => model.Employee.LastName)
                            </h6>
                        </li>
                            <li>
                                <h4>
                                    Date
                                </h4>
                                <h6>@Model.Date.ToString("dd MMM yyy")</h6>
                            </li>
                            <li>
                                <h4>@Html.DisplayNameFor(model => model.ArrivalTime)</h4>
                                <h6>@Html.DisplayFor(model => model.ArrivalTime)	</h6>
                            </li>
                            <li>
                                <h4>
                                    @Html.DisplayNameFor(model => model.DepartureTime)

                                </h4>
                                <h6>@Html.DisplayFor(model => model.DepartureTime)</h6>
                            </li>

                            <li>
                                <h4>
                                    Extra Hours
                                </h4>
                                <h6>@Html.DisplayFor(model => model.ExtraHours)</h6>
                            </li>
                            <li>
                                <h4>
                                    Discount Hours
                                </h4>
                                <h6>@Html.DisplayFor(model => model.DiscountHours)</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <span @(canUpdateAttendence)>
              <a asp-action="Edit"
                   asp-controller="Attendances" 
                    class="btn"
                    style="color: #fff; background-color: #FF9F43; border-color: #FF9F43"
                    asp-route-id="@Model.EmployeeId"
                    asp-route-date="@Model.Date">Edit</a>
            </span>

            <a asp-action="Index" class="btn " style="color: #fff;
                    background-color: #637381;
                    border-color: #637381">Cancel</a>
        </div>
    </div>
