@model IEnumerable<FinalProject.ViewModels.EmployeeAttendanceVM>
@{
    ViewData["Title"] = "Index";
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowAttendance = false;
    var canAddAttendance = false;
    var canUpdateAttendance = false;
    var canDeleteAttendance = false;
    bool havePermissions = permissions == null ? false : true;
    if (havePermissions)
    {
        canShowAttendance = permissions.Any(p => p.Name == "Attendances" && p.Operation == Operation.Show);
        canAddAttendance = permissions.Any(p => p.Name == "Attendances" && p.Operation == Operation.Add);
        canUpdateAttendance = permissions.Any(p => p.Name == "Attendances" && p.Operation == Operation.Update);
        canDeleteAttendance = permissions.Any(p => p.Name == "Attendances" && p.Operation == Operation.Delete);
    }
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

@*<center>

<h1>
    Attendance Report For <bold>
        @Html.DisplayFor(modelItem => Model.FirstOrDefault().FirstName)  @Html.DisplayFor(modelItem => Model.FirstOrDefault().LastName)
    </bold>
</h1>
</center>
<br />
<br />

<br />

<table class="table">
    <thead>
        <tr>




            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>




                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeptName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureTime)
                    </td>

                    <td @(
                        canUpdateAttendance ? "" : "hidden"
                        )>
                        @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId , date=item.Date  }) |
                    </td>
                    <td @(
                        canShowAttendance ? "" : "hidden"
                        )>
                        @Html.ActionLink("Details", "Details", new { id=item.EmployeeId , date=item.Date }) |
                    </td>

                    <td @(
                        canDeleteAttendance ? "" : "hidden"
                        )>
                        @Html.ActionLink("Delete", "Delete", new {  id=item.EmployeeId , date=item.Date })
                    </td>

                </tr>
            }

        }
        else
        {
            <tr colspan="8">NO DATA</tr>
        }


    </tbody>
</table>*@
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>
                attendances report for          @Html.DisplayFor(modelItem => Model.FirstOrDefault().FirstName)  @Html.DisplayFor(modelItem => Model.FirstOrDefault().LastName)
            </h4>
        </div>
       
    </div>


    <div class="card">
        <div class="card-body">

            <div id="my-table-div">
                <table id="mytable" class=" table hover row-border compact stripe order-column" style="width:100%">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Department Name</th>
                            <th>Date</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                         @if (Model != null)
        {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeptName)
                                </td> <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td> <td>
                                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                                </td> <td>
                                    @Html.DisplayFor(modelItem => item.DepartureTime)
                                </td> 
                                
                              

                                <td class="print-off">
                                    <div class="action-links">
                                        <span @(
                                            canUpdateAttendance ? "" : "hidden"
                                            )>
                                                <a asp-action="Edit" class="me-3" asp-route-id="@item.EmployeeId" asp-route-id=" @item.Date">
                                                <img src="~/assets/img/icons/edit.svg" alt="Edit">
                                            </a>
                                        </span>
                                        <span @(
                                            canShowAttendance ? "" : "hidden"
                                            )>
                                                <a asp-action="Details" class="me-3" asp-route-id="@item.EmployeeId" asp-route-id=" @item.Date">
                                                <img src="~/assets/img/icons/eye.svg" />
                                            </a>
                                        </span>
                                        <span @(
                                            canDeleteAttendance ? "" : "hidden"
                                            )>
                                                <a asp-action="Delete" class="me-3" asp-route-id="@item.EmployeeId" asp-route-id=" @item.Date" class="confirm-text">
                                                <img src="~/assets/img/icons/delete.svg" alt="Delete">
                                            </a>
                                        </span>
                                    </div>
                                </td>


                            </tr>

                        }
                        }
                        else
                        {
                            <tr colspan="8">NO DATA</tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

@*<!-- DataTables Buttons JavaScript -->
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<!-- pdfmake library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
*@
<script>
    $(document).ready(function () {
        $('#mytable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                {
                    extend: 'pdfHtml5',
                    text: 'PDF',

                    customize: function (doc) {

                    }
                }
            ]
        });
    });

</script>