@model IEnumerable<Attendance>
@using FinalProject.Utilities;


@{
    ViewData["Title"] = "Attendance Dashboard";
    var permissions = Context.Items["Permissions"] as List<Permission>;


    var canShowAttendance = permissions.HasPermission("Attendance",Operation.Show);
    var canAddAttendance = permissions.HasPermission("Attendance", Operation.Add);
    var canUpdateAttendance = permissions.HasPermission("Attendance", Operation.Update);
    var canDeleteAttendance = permissions.HasPermission("Attendance", Operation.Delete);
    DateTime searchDate = new DateTime();
    if(ViewBag.SearchDate != null)
    {
             searchDate = (DateTime)ViewBag.SearchDate;
    }

}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

<div class="page-header">
    <div class="page-title">
        <h4>Attendance Dashboard</h4>
        <h6>Manage your Attendance</h6>

    </div>
    <div class="page-btn" @(canAddAttendance)>
        <a asp-action="Create" class="btn btn-added mb-2"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Add New</a>
        <a asp-action="UploadFile" class="btn btn-added"><img src="~/img/icons/excel.svg" alt="img" class="me-1">Import Sheet</a>
    </div>


</div>


<div class="card" id="attendance-index-print">
        <div class="card-body">
        <div class="table-top print-off">
            <form asp-action="Search" class="form-inline">
                    <label style ="margin-bottom:10px">Choose Date</label>
                <a asp-action="Index"><i class="fa-solid fa-arrows-rotate fa-l"></i></a>
                @if (ViewBag.SearchDate != null)
                {
                    <input type="date" id="date-picker" asp-for="@searchDate" name="Date" placeholder="Choose Date" class="form-control" />
                }else{
                    <input type="date" id="date-picker"  name="Date" placeholder="Choose Date" class="form-control" />
                }
            </form>
            <div class="wordset print-off">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Advanced Search" asp-action="SearchIndex"><i class="fa-brands fa-searchengin fa-xl"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  datanew">
                <thead>
                <tr>
                    <th>
                        Employee
                    </th>
                    <th>
                        Arrival Time
                    </th>
                    <th>
                        Departure Time
                    </th>
                    <th>
                        Extra Hours
                    </th>
                    <th>
                        Discount Hours
                    </th>
                    <th>
                        Absent
                    </th>
                    <th>
                        Date
                    </th>

                    <th class="print-off"> Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FirstName  ) @Html.DisplayFor(modelItem => item.Employee.LastName  )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArrivalTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartureTime)
                        </td>
                            <td>
                                @if(item.ExtraHours == 0)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                   @Html.DisplayFor(modelItem => item.ExtraHours)
                                }
                            </td>
                            <td>
                                @if (item.DiscountHours == 0)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.DiscountHours)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAbsent)
                            </td>
                        <td>
                            @item.Date.ToString("dd MMM yyy")
                        </td>

                            <td class="print-off">
                                <div class="action-links">
                                    <span @(canUpdateAttendance)>
                                        <a asp-action="Edit" class="me-3" asp-route-id="@item.EmployeeId" asp-route-date="@item.Date">
                                            <img src="~/assets/img/icons/edit.svg" alt="Edit">
                                        </a>
                                    </span>
                                    <span @(canShowAttendance)>
                                        <a asp-action="Details" class="me-3" asp-route-id="@item.EmployeeId" asp-route-date="@item.Date">
                                            <img src="~/assets/img/icons/eye.svg" alt="Details">
                                        </a>
                                    </span>
                                    <span @(canDeleteAttendance)>
                                        <a asp-action="Delete" class="me-3" asp-route-id="@item.EmployeeId" asp-route-date="@item.Date" class="confirm-text">
                                            <img src="~/assets/img/icons/delete.svg" alt="Delete">
                                        </a>
                                    </span>
                                </div>
                            </td>

                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>
        </div>

<style>
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        background: #ff9f43; /* Change to the desired background color */
        color: #fff;
        border: 1px solid #ff9f43;
    }

    button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled), input.dt-button:hover:not(.disabled) {
        background: #1B2850
    }

</style>
<script>
    document.getElementById("date-picker").addEventListener("change", function () {
        this.form.submit();
    });
</script>