@model IEnumerable<Attendance>
@using FinalProject.Utilities;


@{
    ViewData["Title"] = "Attendance Dashboard";
    var permissions = Context.Items["Permissions"] as List<Permission>;


    var canShowAttendance = permissions.HasPermission("Attendance",Operation.Show);
    var canAddAttendance = permissions.HasPermission("Attendance", Operation.Add);
    var canUpdateAttendance = permissions.HasPermission("Attendance", Operation.Update);
    var canDeleteAttendance = permissions.HasPermission("Attendance", Operation.Delete);
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

<div class="page-header">
    <div class="page-title">
        <h4>Attendance Dashboard</h4>
        <h6>Manage your Attendance</h6>

    </div>
    <div class="page-btn" @(canAddAttendance)>
        <a asp-action="Create" class="btn btn-added mb-2"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Add New</a>
        <a asp-action="UploadFile" class="btn btn-added"><img src="~/img/icons/excel.svg" alt="img" class="me-1">Import Sheet</a>
    </div>
   @* <div class="row" @(canAddAttendance)>
        <div class="col-md-6">
            <a class="btn btn-added mb-2" asp-action="Create">
                <img src="/img/icons/plus.svg" alt="img" class="me-1"> Add New
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-added mb-2" asp-action="UploadFile">
                <img src="/img/icons/excel.svg" alt="img" class="me-1"> Import Sheet
            </a>
        </div>
    </div>*@

</div>
@* <div class="row m-5 align-content-between align-items-center welcome-box">
    <div class="col-2 ">
        <div class="container shadow row align-items-center py-3">
            <div class="col">
                <a asp-action="UploadFile">
                    <i class="fa-regular fa-file-excel fa-2xl" style="color: #135007;"></i>
                </a>
            </div>
            <div class="col">
                <a asp-action="SearchIndex"><i class="fa-brands fa-searchengin fa-2xl" style="color: #665ecf;"></i></a>
            </div>
        </div> 
    </div>
</div> *@

<div class="card" id="attendance-index-print">
        <div class="card-body">
        <div class="table-top print-off">
            <form asp-action="Search" class="form-inline">
                    <label style ="margin-bottom:10px">Choose Date</label>
                <a asp-action="Index"><i class="fa-solid fa-arrows-rotate fa-l"></i></a>
                    <input type="date" id="date-picker" name="Date" placeholder="Choose Date" class="form-control" />
            </form>
            <div class="wordset print-off">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Advanced Search" asp-action="SearchIndex"><i class="fa-brands fa-searchengin fa-xl"></i></a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Print" onclick="printContent('attendance-index-print')"><img src="~/img/icons/printer.svg" alt="img"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  datanew">
                <thead>
                <tr>
                    <th>
                        Employee
                    </th>
                    <th>
                        Arrival Time
                    </th>
                    <th>
                        Departure Time
                    </th>
                    <th>
                        Extra Hours
                    </th>
                    <th>
                        Discount Hours
                    </th>
                    <th>
                        Absent
                    </th>
                    <th>
                        Date
                    </th>

                    <th class="print-off"> Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FirstName  ) @Html.DisplayFor(modelItem => item.Employee.LastName  )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArrivalTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartureTime)
                        </td>
                            <td>
                                @if(item.ExtraHours == 0)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                   @Html.DisplayFor(modelItem => item.ExtraHours)
                                }
                            </td>
                            <td>
                                @if (item.DiscountHours == 0)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.DiscountHours)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAbsent)
                            </td>
                        <td>
                            @item.Date.ToString("dd MMM yyy")
                        </td>

                        <td class ="print-off">
                                <span @(canUpdateAttendance)>
                                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" asp-route-date="@item.Date">
                                        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #000000;"></i>
                                    </a>
                                </span>
                                <span class ="print-off" @(canDeleteAttendance)>
                                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" asp-route-date="@item.Date"><i class="fa-solid fa-trash fa-xl" style="color: #000000;"></i></a>

                                </span>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>
        </div>
@*     <div class="col">
        <a  onclick="printContent('attendance-index-print')" style="cursor:pointer;"><i class="fa-solid fa-print fa-2xl" style="color: #00276b;"></i></a>
    </div> *@

<script>
    document.getElementById("date-picker").addEventListener("change", function () {
        this.form.submit();
    });
</script>