@model IEnumerable<FinalProject.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
p>
<a asp-action="UploadFile">Create New Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName  )
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId , date=item.Date  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.EmployeeId , date=item.Date }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.EmployeeId , date=item.Date })
            </td>
        </tr>
}
    </tbody>
</table>
