@model IEnumerable<FinalProject.ViewModels.EmployeeAttendanceVM>
@using FinalProject.Utilities


@{
    ViewData["Title"] = "Index";
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowAttendance = permissions.HasPermission("Attendance", Operation.Show); ;
    var canAddAttendance = permissions.HasPermission("Attendance", Operation.Add); ;
    var canUpdateAttendance = permissions.HasPermission("Attendance", Operation.Update); ;
    var canDeleteAttendance = permissions.HasPermission("Attendance", Operation.Delete); ;
    bool havePermissions = permissions == null ? false : true;
}
<div class="row align-items-start">
    <div class="col-5">
        <h3>Search Attendance</h3>
        <div @(canAddAttendance)>
            <a class="btn btn-outline-success" asp-action="UploadFile">Create New From Excel</a>
        </div>
    </div>
    <div class="col-7">
        <div class="text-center">
            <form asp-action="SearchIndex" method="post" enctype="multipart/form-data" class="form-inline">
                <input type="text" class="form-control m-2" name="searchName" placeholder="Search By Employee Name or Department" />
                <label class="control-label">To</label>
                <input type="date" name="to" class="form-control m-2" />
                <label class="control-label">From</label>
                <input type="date" name="from" class="form-control m-2" />
                <input class="btn btn-outline-secondary" type="submit" value="Search" />
                <div @(canAddAttendance)>
                    <a asp-action="Create" class="btn btn-outline-primary  ml-2">Create New</a>
                </div>

            </form>
        </div>
    </div>
</div>


<center> 

<h1>
    Attendance Report For <bold>

@*@if(ViewBag.to)!=
*@</bold>
</h1>
</center>
<br />
<br />

<br />




<table class="table">
    <thead>
        <tr>


        

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

             <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
        
           
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>


                  

                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>

                            <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                            </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeptName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureTime)
                    </td>

                    <td @( canUpdateAttendance)>
                        @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId , date=item.Date  }) 
                    </td>
                    <td @(canShowAttendance)>  @Html.ActionLink("Details", "Details", new { id=item.EmployeeId , date=item.Date }) </td>

                    <td @(canDeleteAttendance)> @Html.ActionLink("Delete", "Delete", new {  id=item.EmployeeId , date=item.Date })</td>

                </tr>
            }

        }
        else
        {
            <tr><td colspan="10">No Results</td></tr>
        }

        
    </tbody>
</table>
