@model IEnumerable<EmployeeAttendanceVM>
@using FinalProject.Utilities
@{
    ViewData["Title"] = "Attendance Dashboard";
    var permissions = Context.Items["Permissions"] as List<Permission>;


    var canShowAttendance = permissions.HasPermission("Attendance", Operation.Show);
    var canAddAttendance = permissions.HasPermission("Attendance", Operation.Add);
    var canUpdateAttendance = permissions.HasPermission("Attendance", Operation.Update);
    var canDeleteAttendance = permissions.HasPermission("Attendance", Operation.Delete);
}
<div class="page-header">
    <div class="page-title">
        <h4>Search Attendance</h4>
    </div>
    <div class="page-btn" @(canAddAttendance)>
        <a asp-action="Create" class="btn btn-added mb-2"><img src="~/img/icons/plus.svg" alt="img" class="me-1">Add New</a>
        <a asp-action="UploadFile" class="btn btn-added"><img src="~/img/icons/excel.svg" alt="img" class="me-1">Import Sheet</a>
    </div>
</div>

<form asp-action="SearchIndex" method="post" enctype="multipart/form-data" class="form-inline">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-end">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">Employee Name</label>
                        <input type="text" class="form-control m-2" value="" name="searchName" placeholder="Search By Employee Name " />
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">Department Name</label>
                        <input type="text" value="" class="form-control m-2" name="deptName" placeholder="Search By Department Name" />
                    </div>
                </div>

                <div class="col-lg-12 col-sm-6 col-12">
                    <div class="row">
                <div class="col-lg-2 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">From</label>
                        <input type="date"  name="to" class="form-control m-2" />
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">To</label>
                        <input type="date" name="from" class="form-control m-2" />
                    </div>
                </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Search" />
                        <a asp-action="SearchIndex" type="submit" class="btn btn-dark">Reset</a>`\
                    </div>
                </div>
 </div>
 </div>
 </div>
</form>

<div class="card" id="attendance-index-print">
    <div class="card-body">
        @if(Model != null)
        {
<div class="table-top print-off">

        </div>
        <div class="table-responsive">
            <table class="table  datanew">
                <thead>
                    <tr>
                        <th>
                            Employee
                        </th>

                            <th>
                                Department Name
                            </th>
                        <th>
                            Arrival Time
                        </th>
                        <th>
                            Departure Time
                        </th>
                        <th>
                            Date
                        </th>

                           
                        <th class="print-off"> Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName  ) @Html.DisplayFor(modelItem => item.LastName  )
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeptName  )
                                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArrivalTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartureTime)
                            </td>
                            <td>
                                @item.Date.ToString("dd MMM yyy")
                            </td>

                                <td class="print-off">
                                    <div class="action-links">
                                        <span @(canUpdateAttendance)>
                                            <a asp-action="Edit" class="me-3" asp-route-id="@item.EmployeeId" asp-route-date="@item.Date">
                                                <img src="~/assets/img/icons/edit.svg" alt="Edit">
                                            </a>
                                        </span>
                                        <span @(canShowAttendance)>
                                            <a asp-action="Details" class="me-3" asp-route-id="@item.EmployeeId" asp-route-date="@item.Date">
                                                <img src="~/assets/img/icons/eye.svg" alt="Details">
                                            </a>
                                        </span>
                                        <span @(canDeleteAttendance)>
                                            <a asp-action="Delete" class="me-3" asp-route-id="@item.EmployeeId" asp-route-date="@item.Date" class="confirm-text">
                                                <img src="~/assets/img/icons/delete.svg" alt="Delete">
                                            </a>
                                        </span>
                                    </div>
                                </td>

                        </tr>
                    }
                </tbody>
            </table>
            </div>
        }else
        {
            <h2 class="text-center">No Results Found</h2>
        }

    </div>
</div>
