@model IEnumerable<FinalProject.Models.Permission>
@using FinalProject.Utilities
@{
    ViewData["Title"] = "Index";
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowPermission = permissions.HasPermission("Permission", Operation.Show);
    var canAddPermission = permissions.HasPermission("Permission", Operation.Add);
    var canUpdatePermission = permissions.HasPermission("Permission", Operation.Update);
    var canDeletePermission = permissions.HasPermission("Permission", Operation.Delete);
    
}

<h1>Index</h1>

<p @(canAddPermission)>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>
            
                <td @(canUpdatePermission)>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td @(canDeletePermission)>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td @(canShowPermission)>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            
        </tr>

}
    </tbody>
</table>
