@model IEnumerable<FinalProject.Models.Permission>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td class="table-primary">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="table-secondary">
                    @Html.DisplayFor(modelItem => item.Operation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>

}
    </tbody>
</table>
