@model IEnumerable<AppUser>
@using FinalProject.Utilities

@{
    ViewData["Title"] = "Users";
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowUser = permissions.HasPermission("AppUser", Operation.Show);
    var canAddUser = permissions.HasPermission("AppUser", Operation.Add);
    var canUpdateUser = permissions.HasPermission("AppUser", Operation.Update);
    var canDeleteUser = permissions.HasPermission("AppUser", Operation.Delete);
    string actionsFlag = new List<string>(){canUpdateUser,canDeleteUser,canShowUser}.Any(e=> e == "") ? "" : "hidden";
}
<style>
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        background: #ff9f43; /* Change to the desired background color */
        color: #fff;
        border: 1px solid #ff9f43;
    }

    button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled), input.dt-button:hover:not(.disabled) {
        background: #1B2850
    }

</style>
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Users list</h4>
        </div>
        <div class="page-btn" @(canAddUser)>
            <a asp-action="Create" class="btn btn-added">
                <img src="~/img/icons/plus.svg" class="me-1" alt="img">Add User
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="~/img/icons/filter.svg" alt="img">
                            <span><img src="~/img/icons/closes.svg" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="~/img/icons/search-white.svg" alt="img"></a>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <table id="mytable" class=" table datanew  hover row-border compact stripe order-column">
                    <thead>
                        <tr>

                            <th>Username</th>
                            <th>Email</th>
                            <td>Role</td>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>


                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                @if(item.Role == null)
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@item.Role.Name</td>

                                }
                              
                                <td class="print-off">
                                    <div class="action-links">
                                        <span @(canUpdateUser)>
                                            <a asp-action="Edit" class="me-3" asp-route-id="@item.Id">
                                                <img src="~/assets/img/icons/edit.svg" alt="Edit">
                                            </a>
                                        </span>
                                        <span @(canShowUser)>
                                            <a asp-action="Details" class="me-3" asp-route-id="@item.Id">
                                                <img src="~/assets/img/icons/eye.svg" alt="Details">
                                            </a>
                                        </span>
                                        <span @(canDeleteUser)>
                                            <a asp-action="Delete" class="me-3" asp-route-id="@item.Id" class="confirm-text">
                                                <img src="~/assets/img/icons/delete.svg" alt="Delete">
                                            </a>
                                        </span>
                                    </div>
                                </td>


                            </tr>

                        }
                    </tbody>
                    <tfoot>
                        @if (@Model.Count() >= 0)
                        {
                            <div class="col-lg-3 col-sm-6 col-12 d-flex" style="margin:0 auto">
                                <div class="dash-count das2">
                                    <div class="dash-counts">
                                        <h4>@Model.Count()</h4>
                                        <h5>Users</h5>
                                    </div>
                                    <div class="dash-imgs">
                                        <i data-feather="user"></i>
                                    </div>
                                </div>
                            </div>

                        }
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>



