@model IEnumerable<AppUser>
@using FinalProject.Utilities

@{
    ViewData["Title"] = "Users";
    var permissions = Context.Items["Permissions"] as List<Permission>;
    var canShowUser = permissions.HasPermission("AppUser", Operation.Show);
    var canAddUser = permissions.HasPermission("AppUser", Operation.Add);
    var canUpdateUser = permissions.HasPermission("AppUser", Operation.Update);
    var canDeleteUser = permissions.HasPermission("AppUser", Operation.Delete);
}
<h1>Users</h1>
<p @(canAddUser)>
    <a asp-action="Create" class="btn btn-outline-primary">Create New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>    
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td @(canShowUser)><a asp-action="Details" asp-route-id="@item.Id">Details</a> </td>
                <td @(canUpdateUser)>  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> </td>
                <td @(canDeleteUser)>  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>
